.App-header {
  padding: 0 16px;
  text-align: center;
  margin: 30px auto 30px;
}

.App-main {
  padding: 0 16px;
  max-width: 1160px;
  margin: 30px auto 0;
}

.App-form {
  padding: 0 16px;
  max-width: 1160px;
  margin: 30px auto 0;
}